<ion-view can-swipe-back="false" class="edit-msg" cache-view="true">
    <ion-header-bar class="watermelon-header">
        <a class="button button-icon  ion-ios-arrow-left back" ng-click="goBack()"></a>
        <h1 class="title title-center">关于作者</h1>
    </ion-header-bar>
    <ion-content>
        <div class="content-item">
        <h4 class="edit">2107-4.27我是东北大学的一名大四毕业生,此次是毕设的作品,之后会发布到github上.联系邮箱:lianxiaoshuai@aliyun.com.</h4>
        <h4 class="edit">最近在知乎上做资料整理写技术点,希望能让自己成绩更上一层楼;一句古语与君共勉:行者常至,为者常成!</h4>
        </div>
    </ion-content>
</ion-view>