<!--优惠券说明-->
<ion-view can-swipe-back="false" class="space-msg" cache-view="true">
    <ion-header-bar class="watermelon-header">
        <a class="button button-icon  ion-ios-arrow-left back" ng-click="goBack()"></a>
        <h1 class="title title-center">我的广场</h1>
        <a class=" button button-icon ion-ios-camera-outline back" on-hold="onHold()" on-tap="onTap()"></a>
    </ion-header-bar>
    <ion-content class="near-room">
        <img class="home-img" src="img/content1.jpg">
        <div class = "spaceavater">
            <img class="logo-icon" src="img/avater.jpg"/>
        </div>
        <!--<div class="spacecontent"  >-->
            <!--<div class = "spaceavater">-->
                <!--&lt;!&ndash;<img class="logo-icon" src="img/login_log_watermelon@3.png"/>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class = "naickname">-->
                <!--<span>廉小帅</span>-->
            <!--</div>-->
        <!--</div>-->
        <div>
            <div class="spacecontent">
                <div class="top">
                    <div class = "spaceavater">
                        <img class="logo-icon" src="img/avater.jpg"/>
                    </div>
                    <div class = "naickname">
                        <span>廉小帅</span>
                    </div>
                </div>
                <div class = "content">
                    <div style="">Hello World</div>
                </div>
                <div class = "interaction">
                    <div class="time"> 浏览次数 </div>
                    <div class="thump_message">
                        <a class="button button-icon  ion-thumbsup thump" ng-click=""></a>
                        <a class="button button-icon  ion-chatbox-working message" ng-click=""></a>
                    </div>
                </div>
            </div>
            <div class="review">
                <div class="reviewlistback">
                    <div class="reviewlist" >廉小帅:I Want world peace</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

