<ion-view can-swipe-back="false" class="home-msg" cache-view="true">
    <ion-header-bar class="watermelon-header">
        <a class="button button-icon  ion-ios-arrow-left back" ng-click="goBack()"></a>
        <h1 class="title title-center">"{{chat.name}}"</h1>
    </ion-header-bar>
    <ion-content>
        <!--<div class="chat_detail">-->
            <!--1234-->
        <!--</div>-->
        <div class="list chat">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input class="chatinput" type="text" placeholder="type">
                </label>
                <button class="button button-small">send</button>
            </div>
        </div>
        <!--<div class="list bar bar-footer" >-->
            <!--<div class="item item-input-inset">-->
                <!--<label class="item-input-wrapper">-->
                    <!--<input class="chatinput" type="text" placeholder="type">-->
                <!--</label>-->
                <!--<button class="button button-small">send</button>-->
            <!--</div>-->
        <!--</div>-->
    </ion-content>
</ion-view>